<div class="dialog-wrapper">
  @if (showCloseIcon) {
    <i class="fa-solid fa-xmark close-icon" (click)="close()"></i>
  }
  <div class="d-flex flex-column h-100">
    @if (scene === 0 || scene === 2) {
      <div class="animation-wrapper" [class.moved]="isAnimationStarted">
        <div
          class="letter-tile blue"
          [ngClass]="{ blue: !isAnimationFinished }"
        >
          Y
        </div>
        @if (showTouch && !isAnimationFinished) {
          <div class="circle fade-in"></div>
        }
      </div>
    }

    <div id="letter-bank" class="ab-center letter-bank m-lr-auto"></div>
    <div class="fade-out-edges">
      <div
        class="chess-grid m-lr-auto"
        [ngClass]="{ offset: scene === 2 }"
        [class.moved]="isAnimation2Started"
      >
        @for (row of grid; track row; let i = $index) {
          <div class="grid-row">
            @for (cell of row; track cell; let j = $index) {
              <div
                class="grid-cell noselect"
                [ngClass]="{
                  'letter-tile': activeGrid[i] && activeGrid[i][j],
                  blue: checkBlueLetter(activeGrid[i][j]),
                }"
              >
                @if (activeGrid[i] && activeGrid[i][j]) {
                  {{ activeGrid[i][j].charAt(0) }}
                }
                @if (i === 2 && j === 3 && scene === 2 && showTouch2) {
                  <div class="circle fade-in circle-2"></div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="desc m-lr-auto">
      {{ descriptions[scene] }}
    </div>
    <div class="action-buttons d-flex">
      <button
        class="btn btn-outline-secondary quit"
        [tabIndex]="-1"
        [disabled]="scene === 0"
        (click)="back()"
      >
        Back
      </button>
      <div class="pagination">
        <i
          class="fa-regular fa-circle"
          [ngClass]="{ 'fa-solid': scene === 0 }"
        ></i>
        <i
          class="fa-regular fa-circle"
          [ngClass]="{ 'fa-solid': scene === 1 }"
        ></i>
        <i
          class="fa-regular fa-circle"
          [ngClass]="{ 'fa-solid': scene === 2 }"
        ></i>
      </div>
      @if (scene < 2) {
        <button class="btn btn-primary" (click)="next()">Next</button>
      }
      @if (scene === 2) {
        <button class="btn btn-primary" (click)="confirm()">Play!</button>
      }
    </div>
  </div>
</div>
