@use "variables" as *;
@use "mixins" as *;

$grid-cell-size: 30px;

.wrapper {
  height: 525px;
  padding: 35px;
  max-width: 370px;
}

.spinner {
  margin-top: 18px;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

.btn-primary {
  margin-left: auto;
}

.action-buttons {
  width: 100%;
  margin-top: auto;

  button {
    min-width: 75px;
  }
}

.quit {
  margin-right: auto;
}

.letter-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: 150px;
  min-height: 45px;
  border: 1px solid $light-gray;
  padding: 10px;
  // padding: 10px 10px 5px 10px;
  border-radius: 16px;
  margin-bottom: 0px;
  top: $spacing-xl;
}

.fade-out-edges {
  max-height: 210px;
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 25px;
  padding-top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include fade-out-edges;
}

.chess-grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.offset {
  transition: all 1.1s cubic-bezier(0.645, 0.045, 0.355, 1);

  margin-left: -20px;
  margin-top: -30px;
}

.offset.moved {
  transition: all 1.1s cubic-bezier(0.645, 0.045, 0.355, 1);

  margin-left: -60px;
  margin-top: -30px;
}
.grid-row {
  display: flex;
}
.grid-cell {
  width: $grid-cell-size;
  height: $grid-cell-size;
  border: 1px solid $grid-cell-border-color;
}

.desc {
  max-width: 267px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.animation-wrapper {
  position: absolute;
  top: 43px;
  left: 121px;
  z-index: 1;
  transition: all 1.1s cubic-bezier(0.645, 0.045, 0.355, 1);

  .letter-tile {
    min-width: 28px;
    min-height: 28px;
  }
}

.animation-wrapper.moved {
  top: 191px;
  left: 231px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: $dark-gray;
  opacity: 0.5;
  position: absolute;
  left: 15px;
  top: 15px;
}

.circle-2 {
  position: relative;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: $success-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $white;
  border-radius: 6px;
  font-size: 15px;
}

.blue {
  background-color: $primary-color;
}

.fade-in {
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.pagination {
  i {
    margin-left: 4px;
    margin-right: 4px;
    color: $medium-gray;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
