<header class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo-wrapper d-flex"></div>

      <nav>
        <!-- Links for tablets and above -->
        <div class="d-none d-md-flex">
          <a
            class="nav-link me-2"
            (click)="navigateToDaily()"
            routerLinkActive="active"
            >Daily</a
          >
          <div class="me-2 divider"></div>

          <a
            class="nav-link me-2"
            (click)="navigateToSolo()"
            routerLinkActive="active"
            >Endless</a
          >
          <div class="me-2 divider"></div>
          <a
            class="nav-link me-2"
            routerLink="/versus-menu"
            routerLinkActive="active"
            >Versus</a
          >
          <div class="me-2 divider"></div>
          <img
            class="nav-link"
            src="assets/help.svg"
            (click)="openTutorialDialog({ mode: 'solo' })"
          />
        </div>

        <!-- Dropdown menu for mobile -->
        <div class="dropdown d-md-none">
          <div
            class="menu-button-wrapper"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
          </div>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" (click)="navigateToDaily()">
                Daily
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" (click)="navigateToSolo()">
                Endless
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" routerLink="/versus-menu">
                Versus
              </button>
            </li>
            <hr />
            <li>
              <button
                class="dropdown-item"
                (click)="openTutorialDialog({ mode: 'solo' })"
              >
                How to play
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
