<header class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo-wrapper d-flex">
        <div class="letter-tile">C</div>
        <div class="letter-tile">R</div>
        <div class="letter-tile">O</div>
        <div class="letter-tile">S</div>
        <div class="letter-tile">S</div>
        <div class="letter-tile">R</div>
        <div class="letter-tile">A</div>
        <div class="letter-tile">C</div>
        <div class="letter-tile">E</div>
        <div class="version">(0.3.4)</div>
      </div>

      <nav>
        <!-- Links for tablets and above -->
        <div class="d-none d-md-flex">
          <a class="nav-link me-3" routerLink="/" routerLinkActive="active"
            >Solo</a
          >
          <div class="me-3 divider"></div>
          <a class="nav-link" routerLink="/versus" routerLinkActive="active"
            >Versus</a
          >
        </div>

        <!-- Dropdown menu for mobile -->
        <div class="dropdown d-md-none">
          <div
            class="menu-button-wrapper"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
          </div>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" routerLink="/">Solo</button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" routerLink="/versus">Versus</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
