<header class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo-wrapper d-flex"></div>
      <nav>
        <!-- Dropdown menu for mobile -->
        <div class="dropdown">
          <div
            class="menu-button-wrapper"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
          </div>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" (click)="navigateToDaily()">
                Daily
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" (click)="navigateToEndless()">
                Endless
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" (click)="navigateToVersus()">
                Versus
              </button>
            </li>
            <hr />
            <li>
              <button
                class="dropdown-item"
                (click)="openTutorialDialog({ mode: 'solo' })"
              >
                How to Play
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
