<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
      @if (
        bankLettersVisible &&
        (isGameStarted || gameState.gameMode === "versus" || isCountingDown)
      ) {
        <div class="tile-wrapper" [ngClass]="getFlipInClass($index)" cdkDrag>
          <div class="letter m-lr-auto">
            {{ letter }}
          </div>
        </div>
      }
    }
  </div>
</div>
@if (isCountingDown) {
  <div class="countdown-container" [ngClass]="{ 'fade-out': countdownEnded }">
    <div class="countdown-mask"></div>
    <div class="countdown m-lr-auto">
      <div class="spinner-container flip-in-hor-bottom-12">
        <span class="loader"></span>
        <span
          class="countdown-number"
          [ngClass]="{
            'pulsate-fwd-intense': isPulsating,
          }"
        >
          @if (countdown > 0) {
            {{ countdown }}
          } @else {
            GO!
          }
        </span>
      </div>
    </div>
  </div>
}

@if (isGridReady) {
  <div class="game-board-container" [class.visible]="isGridVisible">
    <app-game-board
      [grid]="(gameLogicService.grid$ | async)!"
      [validLetterIndices]="(gameLogicService.validLetterIndices$ | async)!"
      [allDropListIds]="allDropListIds"
      [dragPosition]="dragPosition"
      [isDisabled]="!timerRunning"
      (dropped)="drop($event)"
      (dragStarted)="onDragStarted($event)"
    >
    </app-game-board>
    <div class="lower-menu m-lr-auto">
      <app-timer
        [startTime]="timerStartTime"
        [isRunning]="timerRunning"
        (timeChanged)="onTimeChanged($event)"
      >
      </app-timer>
      <i class="material-icons refresh noselect" (click)="refreshPuzzle()"
        >refresh</i
      >
    </div>
  </div>
}
