// crossrace-ng/src/app/components/game/game.component.scss
@use "variables" as *;
@use "mixins" as *;

.tile-wrapper {
  cursor: move;
}

.letter-bank {
  top: 60px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tile-wrapper:last-child {
  border: none;
}

.letter-bank.cdk-drop-list-dragging .tile-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.game-container {
  margin-top: 20px;
}

.formed-words {
  .valid {
    color: $success-green;
  }
}

.grid-boundary {
  height: 1000px;
  width: 1000px;
}

.btn-outline-secondary {
  background-color: $white;

  &:hover {
    color: $gray-text;
    background-color: $light-gray-hover;
  }
}

.play-again {
  height: 48px;
  width: 120px;
}

.btn {
  min-width: 150px;
}

.hidden {
  display: none;
}

.logo-row-1 {
  margin-left: 12px;
}

.logo-row-2 {
  margin-left: 92px;
}

.waiting {
  font-size: 1.5em;
}

.lower-menu {
  display: flex;
  padding: 0 40px;
  max-width: 400px;

  .refresh {
    font-size: 32px;
    margin-top: 18px;
    margin-left: auto;

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.countdown {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  .spinner-container {
    margin: auto;
    margin-top: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  h3 {
    margin-top: auto;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulsate-fwd-intense {
  -webkit-animation: pulsate-fwd-intense 0.3s ease-in-out both;
  animation: pulsate-fwd-intense 0.3s ease-in-out both;
}

@keyframes pulsate-fwd-intense {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulsate-fwd-intense {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.countdown-number {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

.loader {
  background: $success-green;
  width: 48px;
  height: 48px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  animation: 4.7s rotate linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: $primary-color;
  animation: 2.35s rotate reverse linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.puff-out-center {
  -webkit-animation: fade-out 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: fade-out 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  background: transparent;
  transition: background-color 0.5s ease;
}

@-webkit-keyframes puff-out-center {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
