<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
      @if (
        bankLettersVisible &&
        (isGameStarted || gameState.gameMode === "versus" || isCountingDown)
      ) {
        <div class="tile-wrapper" [ngClass]="getFlipInClass($index)" cdkDrag>
          <div class="letter m-lr-auto">
            {{ letter }}
          </div>
        </div>
      }
    }
  </div>
</div>
@if (isCountingDown) {
  <div
    class="countdown m-lr-auto"
    [ngClass]="{ 'puff-out-center': countdownEnded }"
  >
    <div class="spinner-container flip-in-hor-bottom-12">
      <span class="loader"></span>
      <span
        class="countdown-number"
        [ngClass]="{
          'pulsate-fwd-intense': isPulsating,
        }"
      >
        @if (countdown > 0) {
          {{ countdown }}
        } @else {
          GO!
        }
      </span>
    </div>
  </div>
}

@if (isGridReady) {
  <div
    #gridWrapper
    class="grid-wrapper noselect"
    [ngClass]="{
      notouch: !timerRunning,
      'counting-down': isCountingDown && !countdownEnded,
    }"
  >
    <div class="fade-out-edges m-lr-auto">
      <div
        #gridContainer
        class="grid-container"
        [cdkDragFreeDragPosition]="dragPosition"
        cdkDrag
        cdkDragBoundary=".grid-boundary"
      >
        @for (row of grid; track $index; let i = $index) {
          <div class="grid-row noselect">
            @for (cell of row; track $index; let j = $index) {
              <div
                [ngClass]="{
                  'valid-letter pulsate-fwd': validLetterIndices[i][j],
                }"
                class="grid-cell noselect"
                cdkDropList
                [id]="'cell-' + i + '-' + j"
                [cdkDropListData]="cell"
                [cdkDropListConnectedTo]="allDropListIds"
                [cdkDropListEnterPredicate]="canEnter"
                (cdkDropListEntered)="entered($event)"
                (cdkDropListExited)="exited($event)"
                (cdkDropListDropped)="drop($event)"
              >
                @for (letter of cell; track letter) {
                  <div
                    class="letter-tile"
                    cdkDrag
                    (cdkDragStarted)="dragStarted($event)"
                  >
                    {{ letter }}
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
}
@if (isGridReady) {
  <div class="lower-menu fade-in m-lr-auto">
    <app-timer
      [startTime]="timerStartTime"
      [isRunning]="timerRunning"
      (timeChanged)="onTimeChanged($event)"
    >
    </app-timer>
    <i class="material-icons refresh noselect" (click)="refreshPuzzle()"
      >refresh</i
    >
  </div>
}
