@use "variables" as *;

h2 {
  margin-bottom: 0;
}
.header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.fa-circle-question {
  font-size: 20px;
}

.menu-button-wrapper {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;

  i {
    margin: auto;
  }
}

.logo-wrapper {
  display: flex;
  margin-right: auto;
  margin-top: 4px;
}

hr {
  width: 85%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.dropdown-item {
  height: 50px;
}

button {
  border-radius: 6px;
}
