<header class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo-wrapper d-flex">
        <div
          class="menu-button-wrapper"
          (click)="openTutorialDialog({ mode: 'solo' })"
        >
          <i class="fa-regular fa-circle-question"></i>
        </div>
      </div>
      <nav>
        <div class="dropdown">
          <div
            class="menu-button-wrapper"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
          </div>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" (click)="navigateToDaily()">
                Daily Puzzle
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" (click)="navigateToVersus()">
                Versus
              </button>
            </li>
            <hr />
            <li>
              <button class="dropdown-item" (click)="navigateToPractice()">
                Practice
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
