<div class="container">
  <h1>Multiplayer</h1>

  <div *ngIf="!gameCode">
    <button mat-raised-button color="primary" (click)="createGame()">
      Create New Game
    </button>

    <h4>or</h4>
    <form [formGroup]="joinGameForm">
      <mat-form-field>
        <input
          matInput
          formControlName="gameCode"
          placeholder="Enter room code"
          (input)="onInputChange($event)"
          maxlength="4"
        />
        <mat-error
          *ngIf="
            joinGameForm.get('gameCode')!.invalid &&
            joinGameForm.get('gameCode')!.touched
          "
        >
          Please input a valid room code
        </mat-error>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="accent"
        [disabled]="!joinGameForm.valid"
        (click)="joinGame()"
      >
        Join Game
      </button>
      <br />
    </form>
  </div>

  <div *ngIf="gameCode">
    <h2>Game Lobby: {{ gameCode }}</h2>

    <div>
      <h3>Share this link to invite players:</h3>
      <p>{{ gameShareUrl }}</p>
      <button mat-raised-button [cdkCopyToClipboard]="gameShareUrl">
        Copy
      </button>
    </div>

    <h3>Players in Lobby</h3>
    <mat-list>
      <mat-list-item *ngFor="let player of players; index as i">
        {{ player.displayName }}
        {{ i === 0 ? "(Host)" : "" }}
      </mat-list-item>
    </mat-list>

    <button
      mat-raised-button
      color="primary"
      *ngIf="isHost"
      (click)="startGame()"
    >
      Start Game
    </button>
    <input placeholder="displayName" (input)="onNameInputChange($event)" />
    <button (click)="submitName()">submit name</button>
  </div>
</div>
