<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      @if (gameState && gameState.gameCode && !joining) {
        <h2>Room code: {{ gameState.gameCode }}</h2>

        <div class="mt-4">
          <div
            #copiedTooltip="matTooltip"
            matTooltip="Copied!"
            (mouseenter)="$event.stopImmediatePropagation()"
            (mouseleave)="$event.stopImmediatePropagation()"
            class="d-flex link-container m-lr-auto"
            (click)="copyToClipboard()"
          >
            <div class="url">{{ getDisplayUrl() }}</div>
            <i
              class="copy-icon"
              [ngClass]="
                isShareSupported
                  ? 'd-none'
                  : isCopied
                    ? 'fa-regular fa-circle-check'
                    : 'fa-regular fa-copy'
              "
            ></i>
            <img
              *ngIf="isShareSupported"
              src="assets/share.svg"
              style="margin-top: -5px"
              alt="Share icon"
            />
          </div>
        </div>
        <div
          *ngIf="connectionStatus !== 'connected'"
          class="connection-status-alert"
        >
          <ng-container [ngSwitch]="connectionStatus">
            <span *ngSwitchCase="'disconnected'"
              >Disconnected from server. Attempting to reconnect...</span
            >
            <span *ngSwitchCase="'reconnecting'"
              >Reconnecting to server...</span
            >
            <span *ngSwitchCase="'failed'"
              >Failed to reconnect. Please try again later.</span
            >
          </ng-container>
        </div>
        <div class="self">
          @for (player of players; track $index) {
            @if (isPlayerSelf(player)) {
              <player-card
                [player]="player"
                [allowEdit]="true"
                [playerIndex]="$index"
                (onNameEdit)="submitName($event)"
                (onReadyUp)="readyUp()"
                (onColorSelect)="selectColor($event)"
                (onEmojiSelect)="selectEmoji($event)"
              ></player-card>
            }
          }
        </div>

        <div class="player-grid">
          @for (player of players; track $index) {
            @if (!isPlayerSelf(player)) {
              <player-card [player]="player" [playerIndex]="$index">
              </player-card>
            }
          }
        </div>

        <button
          class="btn btn-lg btn-primary mt-4"
          color="primary"
          *ngIf="gameState.isHost"
          (click)="startGame()"
          [disabled]="anyNotReady() || players.length < 2"
        >
          Start Game
        </button>
        <button
          class="btn btn-lg btn-outline-secondary mt-4"
          (click)="openTutorialDialog({ mode: 'versus' })"
        >
          How to play
        </button>
      }
    </div>
  </div>
</div>

<button
  (click)="simulateDisconnect()"
  [disabled]="connectionStatus !== 'connected'"
>
  Simulate Disconnect
</button>
