.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 10px;
}

.form-control {
  text-align: center;
  height: 35px;
  position: absolute;
  bottom: -35px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-outline-secondary {
  margin-left: 10px;
  background-color: #fff;
  color: #344452;

  &:hover {
    color: #344452;
    background-color: #eee;
  }
}

ngx-emoji {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.player-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2196f3;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  .emoji {
    font-size: 32px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1px; //alignment
  }
}
.player-name {
  font-weight: bold;
  margin-bottom: 6px;
  height: 35px;
  span {
    line-height: 2;
    margin-right: 5px;
  }
}
.player-status {
  font-size: 0.9em;
}
.ready {
  color: #2e8b57;
}
.not-ready {
  color: #b50000;
}

.btn-success {
  height: 30px;
  line-height: 0;
  margin-top: 10px;
}

.shimmering-button {
  background-color: #2d8653;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    box-shadow:
      0 0 5px #2d8653aa,
      0 0 10px #2d8653aa,
      0 0 15px #2d8653aa;
  }
  50% {
    box-shadow:
      0 0 8px #2d8653aa,
      0 0 15px #2d8653aa,
      0 0 23px #2d8653aa;
  }
  100% {
    box-shadow:
      0 0 5px #2d8653aa,
      0 0 10px #2d8653aa,
      0 0 15px #2d8653aa;
  }
}

.crown {
  font-size: 24px;
  color: #d4af37;
}

.pencil {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

.btn-outline-success,
.btn-outline-danger {
  border-color: transparent;
  height: 30px;
  line-height: 0;
}

.emoji-mart-container {
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 999;
  margin-top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  border-radius: 5px;
  height: 354px;
  width: 338px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.visible {
  display: inline-grid !important;
}

.avatar-tabs {
  width: 100%;
  display: flex;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  border-bottom: 0;
  height: 46px;
  .tab {
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d9d9d9;

    &.selected {
      border-bottom: 0;
      background-color: #fff;
      font-weight: bold;
    }

    &:first-child {
      border-right: 1px solid #d9d9d9;
    }
  }
}

.color-picker {
  display: none;
  &.visible {
    display: block;
  }
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: -98px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  border-top: none;
  border-radius: 0;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-self: center; // Center horizontally in grid cell
  align-self: center; // Center vertically in grid cell
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  &.selected {
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 4px currentColor,
      inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.host-label {
  font-size: 12px;
  margin-top: -10px;
}

.emoji-grid {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 338px;
  height: 313px;
  justify-content: center;
  align-content: center;
  border: 1px solid #d9d9d9;
  border-top: 0;
  display: none !important;
  padding: 5px;
  padding-bottom: 10px;
  &.visible {
    display: grid !important;
  }
}

.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 50%;

  // &.selected {
  //   border: 2px solid #2196f3;
  // }
}

.emoji {
  font-size: 24px;
  z-index: 1;
}

.emoji-container::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.emoji-container.selected::before {
  opacity: 1;
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid black;
}

.emoji-container:hover::before {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
