@if (allowEdit) {
  <div
    class="emoji-mart-container"
    #emojiMartContainer
    [ngClass]="{ visible: editingEmoji }"
  >
    <div class="avatar-tabs">
      <div
        class="tab"
        (click)="selectTab(0)"
        [ngClass]="{ selected: selectedTab === 0 }"
      >
        Avatar
      </div>
      <div
        class="tab"
        (click)="selectTab(1)"
        [ngClass]="{ selected: selectedTab === 1 }"
      >
        Color
      </div>
    </div>
    <emoji-mart
      #emojiMart
      [showPreview]="false"
      [include]="orderedCategories"
      [showSingleCategory]="true"
      [recent]="emojis"
      [enableSearch]="false"
      (emojiClick)="submitEmoji($event)"
      [isNative]="true"
      [darkMode]="false"
      [ngClass]="{ visible: selectedTab === 0 }"
    ></emoji-mart>
    <div class="color-picker" [ngClass]="{ visible: selectedTab === 1 }">
      <div class="color-grid">
        @for (color of colorGrid; track color) {
          <div
            class="color-circle"
            [style.background-color]="color"
            [class.selected]="color === selectedColor"
            (click)="selectColor(color)"
          ></div>
        }
      </div>
    </div>
    <input
      #nameInput
      class="form-control"
      [(ngModel)]="editingNameInput"
      (keyup.enter)="submitName()"
      (blur)="submitName()"
      maxlength="14"
    />
  </div>

  <div class="player-card fade-in">
    <i
      [ngClass]="{ transparent: !player.isHost }"
      class="fa-solid fa-crown crown"
    ></i>
    <div
      [ngStyle]="{ 'background-color': player.playerColor }"
      class="player-avatar"
      (click)="editEmoji()"
    >
      <div class="emoji">{{ player.playerEmoji }}</div>
    </div>
    <div class="player-name">
      <span>{{ player.displayName }}</span>
      <i
        (click)="editEmoji()"
        (blur)="submitName()"
        class="fa-solid fa-pen pencil"
      ></i>
    </div>
    <div class="host-label" [ngClass]="{ transparent: !player.isHost }">
      (Host)
    </div>
    <div
      class="player-status"
      [ngClass]="{
        ready: player.ready,
        'not-ready': !player.ready,
      }"
    >
      <div *ngIf="player.ready">
        <button class="btn btn-outline-success" disabled>Ready</button>
      </div>

      <button
        class="btn btn-success shimmering-button"
        *ngIf="!player.ready"
        (click)="readyUp()"
      >
        Ready up!
      </button>
    </div>
  </div>
}

@if (!allowEdit) {
  <div class="player-card fade-in">
    <i
      [ngClass]="{ transparent: !player.isHost }"
      class="fa-solid fa-crown crown"
    ></i>
    <div
      [ngStyle]="{ 'background-color': player.playerColor }"
      class="player-avatar"
    >
      <div class="emoji">{{ player.playerEmoji }}</div>
    </div>
    <div class="player-name">
      <span>{{ player.displayName }}</span>
    </div>
    <div class="host-label" [ngClass]="{ transparent: !player.isHost }">
      (Host)
    </div>
    <div
      class="player-status"
      [ngClass]="{
        ready: player.ready,
        'not-ready': !player.ready,
      }"
    >
      <div *ngIf="player.ready">
        <button class="btn btn-outline-success" disabled>Ready</button>
      </div>
      <div *ngIf="!player.ready">
        <button class="btn btn-outline-danger" disabled>
          {{ player.inGame ? "In Game" : "Not Ready" }}
        </button>
      </div>
    </div>
  </div>
}
