@import "variables";
@import "mixins";

$grid-cell-size: 36px;

.tile-wrapper {
  height: 40px;
  width: 40px;
  border-right: solid 1px $light-gray;
  border-radius: 6px;
  color: $white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: $primary-color;
  font-weight: bold;
}

.grid-wrapper {
  position: relative;
  width: 390px;
  height: 390px;
  max-width: 100vw; //iPhone SE, etc
  overflow: hidden;
  margin: 200px auto 0;
}

.grid-fade-wrapper {
  position: absolute;
  z-index: -1000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-height: 107px;
  border: 1px solid $light-gray;
  padding: 10px;
  // padding: 10px 10px 5px 10px;
}

.letter-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: 287px;
  min-height: 107px;
  border: 1px solid #ccc;
  padding: 10px;
  // padding: 10px 10px 5px 10px;
  border-radius: 16px;
  margin-bottom: 35px;
  top: 60px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tile-wrapper:last-child {
  border: none;
}

.letter-bank.cdk-drop-list-dragging .tile-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.game-container {
  margin-top: 20px;
}

.formed-words {
  .valid {
    color: $success-color;
  }
}

.grid-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  // padding-top: 0;

  &.valid-letter {
    .letter-tile {
      background-color: $success-color !important;
    }
  }
}

.grid-cell {
  background-color: $white;
  width: $grid-cell-size;
  height: $grid-cell-size;
  border: 1px solid $grid-cell-border-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &.valid-letter {
    .letter-tile {
      background-color: $success-color !important;
    }
  }
}

.letter-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: $primary-color;
  cursor: move;
}

.grid-boundary {
  height: 1000px;
  width: 1000px;
}

.fade-out-edges {
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include fade-out-edges;
}

.btn-outline-secondary {
  background-color: $white;

  &:hover {
    color: $gray-text;
    background-color: $light-gray-hover;
  }
}

//hover state for drag and drop
.drop-list-highlight {
  background-color: $light-gray;
  transition: background-color 0.3s ease;
}

.play-again {
  height: 48px;
  width: 120px;
}

.btn {
  min-width: 150px;
}

.hidden {
  display: none;
}

.logo-row-1 {
  margin-left: 12px;
}

.logo-row-2 {
  margin-left: 92px;
}

.waiting {
  font-size: 1.5em;
}

.lower-menu {
  display: flex;
  padding: 0 40px;
  max-width: 400px;

  .refresh {
    font-size: 32px;
    margin-top: 18px;
    margin-left: auto;

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.countdown,
.main-menu {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: $white-transparent-cc;
  .spinner-container {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  h3 {
    margin-top: auto;
  }
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  gap: 35px;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  z-index: 1;
}

.notouch {
  pointer-events: none;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.6s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.35s both;
  animation: slide-in-fwd-center 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    0.35s both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.flip-in-hor-bottom-0 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    both;
}

.flip-in-hor-bottom-1 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    both;
}

.flip-in-hor-bottom-2 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s
    both;
}

.flip-in-hor-bottom-3 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
    both;
}

.flip-in-hor-bottom-4 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
}

.flip-in-hor-bottom-5 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    both;
}

.flip-in-hor-bottom-6 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
    both;
}

.flip-in-hor-bottom-7 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s
    both;
}

.flip-in-hor-bottom-8 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s
    both;
}

.flip-in-hor-bottom-9 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    both;
}

.flip-in-hor-bottom-10 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s
    both;
}

.flip-in-hor-bottom-11 {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s
    both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.3s ease-in-out both;
  animation: pulsate-fwd 0.3s ease-in-out both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.countdown-number {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

.loader {
  background: $success-color;
  width: 48px;
  height: 48px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  animation: 4.7s rotate linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: $primary-color;
  animation: 2.35s rotate reverse linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
