<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
    <div
      *ngIf="isGameStarted || isMultiplayer || isCountingDown"
      class="tile-wrapper"
      [ngClass]="getFlipInClass($index)"
      cdkDrag
    >
      <div class="letter m-lr-auto">
        {{ letter }}
      </div>
    </div>
    }
    <button
      class="btn btn-primary play-again m-auto btn-lg fade-in"
      *ngIf="waitingForRestart"
      (click)="startAfterCountDown()"
    >
      Play again
    </button>
  </div>

  <div
    id="letter-bank"
    *ngIf="
      !isGameStarted && !isMultiplayer && !isCountingDown && !waitingForRestart
    "
    class="ab-center letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="row logo-row-1">
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">O</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">S</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">S</div>
      </div>
    </div>

    <div class="row logo-row-2">
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">A</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper" [ngClass]="getFlipInClass(0)">
        <div class="letter m-lr-auto">E</div>
      </div>
    </div>
  </div>
</div>
<div class="countdown m-lr-auto" *ngIf="isCountingDown">
  <h3>Get ready!</h3>
  <h5>Game starting in {{ countdown }}...</h5>
</div>
<div
  class="main-menu m-lr-auto"
  *ngIf="
    !isGameStarted && !isMultiplayer && !isCountingDown && !waitingForRestart
  "
>
  <div class="main-menu-buttons">
    <button
      (click)="startAfterCountDown()"
      class="btn btn-primary btn-lg m-auto"
      [ngClass]="{ 'fade-out': isCountingDown }"
    >
      Solo
    </button>
    <button
      (click)="versus()"
      class="btn btn-success btn-lg m-auto"
      [ngClass]="{ 'fade-out': isCountingDown }"
    >
      Versus
    </button>
    <button
      (click)="openTutorialDialog({ mode: 'solo' })"
      class="btn btn-outline-secondary btn-lg m-auto"
      [ngClass]="{ 'fade-out': isCountingDown }"
    >
      How to play
    </button>
  </div>
</div>
<div
  #gridWrapper
  [ngClass]="{ 'slide-in-fwd-center': !isFirstNavigation }"
  class="slide-in-fwd-center grid-wrapper"
>
  <div class="fade-out-edges m-lr-auto">
    <div
      #gridContainer
      class="grid-container"
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDrag
      cdkDragBoundary=".grid-boundary"
    >
      @for (row of grid; track $index; let i = $index) {
      <div class="grid-row">
        @for (cell of row; track $index; let j = $index) {
        <div
          [ngClass]="{ 'valid-letter': validLetterIndices[i][j] }"
          class="grid-cell"
          cdkDropList
          [id]="'cell-' + i + '-' + j"
          [cdkDropListData]="[cell]"
          [cdkDropListConnectedTo]="allDropListIds"
          [cdkDropListEnterPredicate]="canEnter"
          (cdkDropListDropped)="drop($event)"
        >
          @if (cell) {
          <div
            class="letter-tile"
            cdkDrag
            (cdkDragStarted)="dragStarted($event)"
          >
            {{ cell }}
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
<div class="lower-menu m-lr-auto">
  <app-timer
    [ngClass]="{ hidden: !isGameStarted }"
    [isRunning]="timerRunning"
    (timeChanged)="onTimeChanged($event)"
  >
  </app-timer>
  <i
    class="material-icons refresh noselect"
    (click)="refreshPuzzle()"
    [ngClass]="{ hidden: !isGameStarted }"
    >refresh</i
  >
</div>

<div
  *ngIf="
    !isGameStarted && !isMultiplayer && !isCountingDown && !waitingForRestart
  "
  class="version"
>
  0.4.1
</div>
