<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
      <div
        *ngIf="
          isGameStarted || gameState.gameMode === 'versus' || isCountingDown
        "
        class="tile-wrapper"
        [ngClass]="getFlipInClass($index)"
        cdkDrag
      >
        <div class="letter m-lr-auto">
          {{ letter }}
        </div>
      </div>
    }
  </div>
</div>
<div class="countdown m-lr-auto" *ngIf="isCountingDown">
  <h3>Get ready!</h3>
  <h5>Game starting in {{ countdown }}...</h5>
</div>

<div
  #gridWrapper
  *ngIf="isGridReady"
  class="slide-in-fwd-center grid-wrapper noselect"
>
  <div class="fade-out-edges m-lr-auto">
    <div
      #gridContainer
      class="grid-container"
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDrag
      cdkDragBoundary=".grid-boundary"
    >
      @for (row of grid; track $index; let i = $index) {
        <div class="grid-row noselect">
          @for (cell of row; track $index; let j = $index) {
            <div
              [ngClass]="{ 'valid-letter': validLetterIndices[i][j] }"
              class="grid-cell noselect"
              cdkDropList
              [id]="'cell-' + i + '-' + j"
              [cdkDropListData]="[cell]"
              [cdkDropListConnectedTo]="allDropListIds"
              [cdkDropListEnterPredicate]="canEnter"
              (cdkDropListEntered)="entered($event)"
              (cdkDropListExited)="exited($event)"
              (cdkDropListDropped)="drop($event)"
            >
              @if (cell) {
                <div
                  class="letter-tile"
                  cdkDrag
                  (cdkDragStarted)="dragStarted($event)"
                >
                  {{ cell }}
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
<div class="lower-menu m-lr-auto">
  <app-timer
    [ngClass]="{ hidden: !isGameStarted && !waitingForRestart }"
    [startTime]="timerStartTime"
    [isRunning]="timerRunning"
    (timeChanged)="onTimeChanged($event)"
  >
  </app-timer>
  <i
    class="material-icons refresh noselect"
    (click)="refreshPuzzle()"
    [ngClass]="{ hidden: !isGameStarted }"
    >refresh</i
  >
</div>
