@use "variables" as *;

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding-top: 2px;
}

.player-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $avatar-blue;
  box-shadow: inset 0 0 0 1px $black-transparent-10;
  position: relative;

  &.editable {
    cursor: pointer;
  }

  .emoji {
    font-size: 32px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1px; //alignment
  }
}
.player-name {
  font-weight: bold;
  margin-bottom: 6px;
  height: 35px;
  span {
    line-height: 2;
    margin-right: 5px;
  }
}

.btn-success {
  height: 30px;
  line-height: 0;
  margin-top: 10px;
}

.crown {
  font-size: $font-size-xxl;
  color: $crown-gold;
}

.transparent {
  opacity: 0;
}

.emoji-mart-container {
  background-color: $white;
  display: none;
  position: absolute;
  z-index: 999;
  margin-top: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  filter: drop-shadow(3px 3px 2px $black-transparent-30);
  border-radius: 5px;
  height: 359px;
  width: 338px;
}

.visible {
  display: inline-grid !important;
}

.avatar-tabs {
  width: 100%;
  display: flex;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $gray-border;
  overflow: hidden;
  border-bottom: 0;
  height: 46px;
  .tab {
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: $very-light-gray-bg;
    border-bottom: 1px solid $gray-border;

    &.selected {
      border-bottom: 0;
      background-color: $white;
      font-weight: bold;
    }

    &:first-child {
      border-right: 1px solid $gray-border;
    }
  }
}

.ready-indicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $success-green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;

  .fa-check {
    font-size: 10px;
    color: $white;
  }
}

.color-picker {
  display: none;
  &.visible {
    display: block;
  }
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: -103px;
  border: 1px solid $gray-border;
  border-top: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-self: center; // Center horizontally in grid cell
  align-self: center; // Center vertically in grid cell
  box-shadow: inset 0 0 0 1px $black-transparent-10;

  &.selected {
    box-shadow:
      0 0 0 2px $white,
      0 0 0 4px currentColor,
      inset 0 0 0 1px $black-transparent-10;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.emoji-grid {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 338px;
  height: 313px;
  justify-content: center;
  align-content: center;
  border: 1px solid $gray-border;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none !important;
  padding: 5px;
  &.visible {
    display: grid !important;
  }
}

.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.emoji {
  font-size: 24px;
  z-index: 1;
}

.emoji-container::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.emoji-container.selected::before {
  opacity: 1;
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid $black;
}

.emoji-container:hover::before {
  opacity: 1;
  background-color: $black-transparent-10;
}
