<div class="player-card fade-in">
  <div
    [ngStyle]="{
      'background-color': colorService.getColorById(player.colorId),
    }"
    class="player-avatar"
    [class.editable]="allowEdit"
  >
    <!-- avatar image here based on the avatar id -->
    <img
      class="avatar"
      [src]="avatarService.getAvatarUrlById(player.avatarId)"
    />
    @if (player.ready) {
      <div class="ready-indicator">
        <i class="fa-solid fa-check"></i>
      </div>
    }
  </div>
  <div class="player-name">
    <span>{{ player.displayName }}</span>
  </div>
</div>
