@use "variables" as *;
@use "mixins" as *;

$grid-cell-size: 40px;

// CDK Drag and Drop Global Styles
// These are needed here because this component's view is encapsulated.

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px $black-transparent-10,
    0 8px 10px 1px $black-transparent-10,
    0 3px 14px 2px $black-transparent-10;
}

.cdk-drag-placeholder {
  opacity: 0;
}

// controls how fast tiles snap to grid
.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.grid-wrapper {
  margin: 200px auto 0;
}

.fade-out-edges {
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include fade-out-edges;
}

.grid-container {
  &.valid-letter {
    .letter-tile {
      background-color: $success-green !important;
    }
  }
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: $grid-cell-size;
  height: $grid-cell-size;
  background-color: $white;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  cursor: move;
}

//hover state for drag and drop
.drop-list-highlight {
  background-color: $light-gray;
  transition: background-color 0.3s ease;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.3s ease-in-out both;
  animation: pulsate-fwd 0.3s ease-in-out both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
