<div class="dialog-wrapper">
  <div class="d-flex flex-column h-100">
    <div class="row">
      <h1 class="m-lr-auto">{{ data.winnerDisplayName }} won!</h1>
      @if (!this.data.daily) {
        <h4 class="m-lr-auto">
          {{ data.time }}
        </h4>
      }
      @if (this.data.daily) {
        <h4 class="m-lr-auto">
          Today: {{ data.time }} | Average: {{ getAverageTime() }}
        </h4>
      }
    </div>
    <div class="chess-grid m-lr-auto fade-out-edges">
      @for (row of grid; track row; let i = $index) {
        <div class="grid-row">
          @for (cell of row; track cell; let j = $index) {
            <div
              class="grid-cell noselect green"
              [ngClass]="{ 'letter-tile': data.grid[i] && data.grid[i][j] }"
            >
              @if (data.grid[i] && data.grid[i][j]) {
                {{ data.grid[i][j] }}
              }
            </div>
          }
        </div>
      }
    </div>

    @if (data.daily) {
      <div class="countdown-timer m-lr-auto">
        <h5>Next puzzle in: {{ countdownTime }}</h5>
      </div>
    }

    <div class="action-buttons d-flex">
      <button
        tabindex="-1"
        class="btn btn-outline-secondary quit"
        #copiedTooltip="matTooltip"
        matTooltipPosition="above"
        matTooltip="Copied!"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
        (click)="challenge()"
      >
        Share
        @if (isShareSupported) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="currentColor"
            style="width: 18px; margin-top: -5px"
          >
            <path
              d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
            />
          </svg>
        }
        @if (!isShareSupported) {
          <i
            style="margin-left: 5px"
            [ngClass]="
              isCopied ? 'fa-regular fa-circle-check' : 'fa-regular fa-copy'
            "
          >
          </i>
        }
      </button>
      <button class="btn btn-primary" (click)="confirm()">Play Again</button>
    </div>
  </div>
</div>
