<div class="container d-flex flex-column">
  <div class="row flex-grow-1 overflow-hidden">
    <div class="col-12 col-lg-6 offset-lg-3 d-flex flex-column h-100">
      @if (gameState.gameCode) {
        <div class="flex-shrink-0">
          <div class="room-code-label flex-fixed">Room Code:</div>
          <div class="d-flex room-code-row noselect flex-fixed">
            <div
              class="room-code-container m-lr-auto d-flex"
              #copiedTooltip="matTooltip"
              matTooltip="Copied!"
              (mouseenter)="$event.stopImmediatePropagation()"
              (mouseleave)="$event.stopImmediatePropagation()"
            >
              <div class="d-flex code-wrapper" (click)="copyOrShare()">
                @for (letter of gameState.gameCode.split(""); track $index) {
                  <div class="tile-wrapper">
                    <div class="letter m-lr-auto">{{ letter }}</div>
                  </div>
                }
              </div>
              <div class="copy-share-icon" (click)="copyOrShare()">
                @if (!isShareSupported) {
                  <i
                    class="copy-icon"
                    [ngClass]="
                      isCopied
                        ? 'fa-regular fa-circle-check'
                        : 'fa-regular fa-copy'
                    "
                  ></i>
                }
                @if (isShareSupported) {
                  <img src="assets/share.svg" alt="Share icon" />
                }
              </div>
            </div>
          </div>
          <div class="self flex-fixed">
            @if (selfPlayer) {
              <player-card
                [player]="selfPlayer"
                [allowEdit]="true"
                (onColorChange)="updatePlayer({ colorId: $event })"
                (onAvatarChange)="updatePlayer({ avatarId: $event })"
              ></player-card>
            }
          </div>
        </div>
        <div class="flex-grow-1 overflow-auto">
          @if (otherPlayers.length === 0 && connectedPlayers.length < 2) {
            <div class="waiting-for-players">Waiting for players....</div>
          }
          <div class="player-grid">
            @for (player of otherPlayers; track player.id) {
              <player-card [player]="player"> </player-card>
            }
            <div class="fade-overlay"></div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@if (gameState.gameCode) {
  <div class="action-buttons">
    <button
      class="btn btn-success ready-button shimmer"
      (click)="readyUp()"
      [disabled]="isLocalPlayerReady || connectedPlayers.length < 2"
    >
      {{ readyButtonText }}
    </button>
  </div>
}
