@use "variables" as *;

$grid-cell-size: 35px;

.room-code-label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 30px;
}

.room-code-container {
  cursor: pointer;
}
.code-wrapper {
  margin-left: auto;
  padding-left: 40px;
  padding-right: 5px;
}

.shimmer {
  --shimmer-color: $shimmer-green;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    box-shadow:
      0 0 5px $shimmer-green,
      0 0 10px $shimmer-green,
      0 0 15px $shimmer-green;
  }
  50% {
    box-shadow:
      0 0 8px $shimmer-green,
      0 0 15px $shimmer-green,
      0 0 23px $shimmer-green;
  }
  100% {
    box-shadow:
      0 0 5px $shimmer-green,
      0 0 10px $shimmer-green,
      0 0 15px $shimmer-green;
  }
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  padding: 16px;
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .player-grid {
    max-height: 335px;
  }
}

.waiting-for-players {
  color: $gray-icon;
  font-size: 24px;
  margin-top: 150px;
  text-align: center;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px; /* Adjust the height of the fade effect */
  background: linear-gradient(to bottom, $white-transparent-0, $white-opaque);
  pointer-events: none;
}

.btn-success {
  height: 30px;
  line-height: 0;
}

.room-code-row {
  margin-bottom: 5px;
}

i {
  width: 16px;
}
.copy-share-icon {
  padding-right: 10px;
  padding-left: 5px;
  margin-top: 7px;
  margin-right: auto;
}

.flex-fixed {
  flex-shrink: 0;
}

.container {
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}
//TODO: fix this so that it's not just floating all the way at the bottom on larger screens
.action-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing-m;
  padding-bottom: calc(
    #{$spacing-m} + env(safe-area-inset-bottom)
  ); // Add padding for iPhone home bar

  .ready-button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 48px;
    font-size: $font-size-xl;
    display: block;
  }

  .btn:disabled {
    opacity: 0.65;
  }
}

.self {
  margin-bottom: 10px;
}
