@use "../../../styles/variables" as *;

.overlay {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999; // Ensure it's on top of everything

  // Appearance
  background-color: $black-transparent-30;

  // Center the spinner
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-in-game {
  // Positioning at bottom of screen
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; // High but not as high as full overlay

  // No background to be non-obstructive
  background-color: transparent;

  // Center content horizontally
  display: flex;
  justify-content: center;
  align-items: center;

  // Delay appearance by 1 second
  opacity: 0;
  animation: delayedFadeIn 0.1s ease-in-out 1s forwards;
}

.message {
  position: absolute;
  color: $tile-text-color;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1; // Should be on top of .loader
}

.message-in-game {
  position: absolute;
  color: $tile-text-color;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: 1px 1px 2px $black-transparent-30; // Add shadow for better visibility
  z-index: 1;
}

/* Provided Spinner Styles */
.loader {
  background: $success-green;
  width: 48px;
  height: 48px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  animation: 3s rotate linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: $primary-color;
  animation: 1.5s rotate reverse linear infinite;
}

.loader-in-game {
  background: $success-green;
  width: 24px;
  height: 24px;
  position: relative;
  text-align: center;
  border-radius: 3px;
  animation: 3s rotate linear infinite;
}

.loader-in-game:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background: $primary-color;
  animation: 1.5s rotate reverse linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
