@use "variables" as *;
@use "mixins" as *;

$grid-cell-size: 30px;

.wrapper {
  height: fit-content;
  padding: 20px;
  max-width: 370px;
}

.spinner {
  margin-top: 18px;
}

h1 {
  margin-top: 15px;
  text-align: center;
}
h4 {
  text-align: center;
}
.action-buttons {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
  margin-top: 15px;

  button {
    min-width: 75px;
  }
}

.quit {
  margin-right: auto;
}

.fade-out-edges {
  @include fade-out-edges;
}

.chess-grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 15px;
}
.grid-cell {
  width: $grid-cell-size;
  height: $grid-cell-size;
  border: 1px solid $grid-cell-border-color;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: $success-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $white;
  border-radius: 6px;
  font-size: 15px;
}
