<div class="wrapper">
  <div class="d-flex flex-column h-100">
    <div class="row">
      <h1 class="m-lr-auto">{{ data.winnerDisplayName }} won!</h1>
      @if (!this.data.daily) {
        <h4 class="m-lr-auto">
          {{ data.time }}
        </h4>
      }
      @if (this.data.daily) {
        <h4 class="m-lr-auto">
          Today: {{ data.time }} | Average: {{ getAverageTime() }}
        </h4>
      }
    </div>
    <div class="chess-grid m-lr-auto fade-out-edges">
      @for (row of grid; track row; let i = $index) {
        <div class="grid-row">
          @for (cell of row; track cell; let j = $index) {
            <div
              class="grid-cell noselect"
              [ngClass]="{ 'letter-tile': data.grid[i] && data.grid[i][j] }"
              >
              @if (data.grid[i] && data.grid[i][j]) {
                {{ data.grid[i][j] }}
              }
            </div>
          }
        </div>
      }
    </div>

    @if (data.daily) {
      <div class="countdown-timer m-lr-auto">
        <h5>Next puzzle in: {{ countdownTime }}</h5>
      </div>
    }

    <div class="action-buttons d-flex">
      <button
        tabindex="-1"
        class="btn btn-outline-secondary quit"
        #copiedTooltip="matTooltip"
        matTooltipPosition="above"
        matTooltip="Copied!"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
        (click)="challenge()"
        >
        Share
        @if (isShareSupported) {
          <img
            style="width: 18px; margin-top: -3px"
            src="assets/share.svg"
            alt="Share icon"
            />
        }
        @if (!isShareSupported) {
          <i
            style="margin-left: 5px"
          [ngClass]="
            isCopied ? 'fa-regular fa-circle-check' : 'fa-regular fa-copy'
          "
            >
          </i>
        }
      </button>
      <button class="btn btn-primary" (click)="confirm()">
        {{ data.daily ? "Practice" : "Play Again" }}
      </button>
    </div>
  </div>
</div>
