$grid-cell-size: 30px;

.wrapper {
  // min-width: 300px;
  // min-height: 300px;
  height: 500px;
  padding: 20px;
}

.spinner {
  margin-top: 18px;
}

// h1 {
//   line-height: 3 !important;
//   padding: 0;
// }

h1 {
  margin-top: 15px;
  text-align: center;
}
h4 {
  text-align: center;
}
.action-buttons {
  align-self: flex-end;
  margin-top: auto;

  button {
    min-width: 75px;
  }
}

.quit {
  margin-right: 12px;
}

.fade-out-edges {
  overflow: hidden;
  --mask-size: 20px;
  mask-image: linear-gradient(
      to right,
      transparent,
      black var(--mask-size),
      black calc(100% - var(--mask-size)),
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent,
      black var(--mask-size),
      black calc(100% - var(--mask-size)),
      transparent
    );
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

.chess-grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 25px;
}
.grid-row {
  display: flex;
}
.grid-cell {
  width: $grid-cell-size;
  height: $grid-cell-size;
  border: 1px solid #ccc;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  font-size: 15px;
}
