<div class="wrapper">
  <div class="d-flex flex-column h-100">
    <div class="row">
      <h1 class="m-lr-auto">{{ data.winnerDisplayName }} wins!</h1>
    </div>
    <div class="chess-grid m-lr-auto">
      <div *ngFor="let row of grid; let i = index" class="grid-row">
        <div
          *ngFor="let cell of row; let j = index"
          class="grid-cell noselect"
          [ngClass]="{ 'letter-tile': data.grid[i] && data.grid[i][j] }"
        >
          @if(data.grid[i] && data.grid[i][j]){
          {{ data.grid[i][j] }}
          }
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <button class="btn btn-outline-secondary quit" (click)="quit()">
        Quit
      </button>
      <button class="btn btn-primary" (click)="confirm()">Play again</button>
    </div>
  </div>
</div>
