<div class="wrapper">
  <div class="d-flex flex-column h-100">
    <div class="row m-lr-auto">
      <div class="player-card fade-in">
        <i
          class="fa-solid fa-crown crown"
        ></i>
        <div
          [ngStyle]="{ 'background-color': data.winnerColor }"
          class="player-avatar"
        >
          <div class="emoji noselect">{{ data.winnerEmoji }}</div>
        </div>
      </div>
      <div class="d-flex flex-column w-auto">
        <h1>{{ data.winnerDisplayName }} won!</h1>
        <h4 *ngIf="!this.data.daily">
          {{ data.time }}
        </h4>
      </div>

      <h4 *ngIf="this.data.daily" class="m-lr-auto">
        Today: {{ data.time }} | Average: {{ getAverageTime() }}
      </h4>
    </div>
    <div class="chess-grid m-lr-auto fade-out-edges">
      <div *ngFor="let row of grid; let i = index" class="grid-row">
        <div
          *ngFor="let cell of row; let j = index"
          class="grid-cell noselect"
          [ngClass]="{ 'letter-tile': data.grid[i] && data.grid[i][j] }"
        >
          @if(data.grid[i] && data.grid[i][j]){
          {{ data.grid[i][j] }}
          }
        </div>
      </div>
    </div>

    <div *ngIf="data.daily" class="countdown-timer m-lr-auto">
      <h5>Next puzzle in: {{ countdownTime }}</h5>
    </div>

    <div *ngIf="!data.singlePlayer" class="action-buttons d-flex">
      <button class="btn btn-outline-secondary quit" (click)="quit()">
        Quit
      </button>
      <button class="btn btn-primary" (click)="confirm()">Play again</button>
    </div>
    <div *ngIf="data.singlePlayer" class="action-buttons d-flex">
      <button
        tabindex="-1"
        class="btn btn-outline-secondary quit"
        #copiedTooltip="matTooltip"
        matTooltipPosition="above"
        matTooltip="Copied!"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
        (click)="challenge()"
      >
        Share
        <img
          *ngIf="isShareSupported"
          style="width: 18px; margin-top: -3px"
          src="assets/share.svg"
          alt="Share icon"
        />
        <i
          *ngIf="!isShareSupported"
          style="margin-left: 5px"
          [ngClass]="
            isCopied ? 'fa-regular fa-circle-check' : 'fa-regular fa-copy'
          "
        >
        </i>
      </button>
      <button class="btn btn-primary" (click)="confirm()">
        {{ data.daily ? "Play endless" : "Play again" }}
      </button>
    </div>
  </div>
</div>
