@import "variables";
@import "mixins";

$grid-cell-size: 30px;

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: $border-radius-xl;
  padding-top: 2px;
  width: fit-content;
  margin-top: -10px;
}
.player-avatar {
  width: 60px;
  height: 60px;
  border-radius: $border-radius-round;
  background-color: $avatar-blue;
  box-shadow: inset 0 0 0 1px $black-transparent-10;

  .emoji {
    font-size: $font-size-mega;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1px; //alignment
  }
}
app-leaderboard {
  margin-top: $spacing-s;
  position: absolute;
  right: -480px;
  top: 0;
}
.crown {
  font-size: $font-size-xxl;
  color: $crown-gold;
}
.wrapper {
  height: 1px; //needed so that child height 100 works
  padding: $spacing-l;
  min-height: 550px;
  overflow-x: hidden;
}

.spinner {
  margin-top: $spacing-xxl;
}

.btn {
  width: 100px;
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
  overflow-wrap: break-word;
  max-width: 220px;
  font-size: $font-size-mega;
}

.time {
  width: fit-content;
  background: $white-transparent-ee;
  padding: 2px $spacing-s;
  font-size: $font-size-huge;
  font-weight: 500;
  border-radius: $border-radius-xl;
  border: 1px solid $light-gray;
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: $spacing-xs;
  cursor: pointer;
  padding: $spacing-m;
  margin-right: auto;
}

.fa-chevron-right {
  right: -20px;
}

.fa-chevron-left {
  right: -185px;
}

.action-buttons {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;

  button {
    min-width: 75px;
  }
}

.quit {
  margin-right: auto;
}

.fade-out-edges {
  @include fade-out-edges;
}

.chess-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: $spacing-l;
  margin-bottom: $spacing-m;
}
.grid-cell {
  width: $grid-cell-size;
  height: $grid-cell-size;
  border: 1px solid $grid-cell-border-color;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: $success-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $white;
  border-radius: $border-radius-tile;
  font-size: $font-size-l;
}
