/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "@ctrl/ngx-emoji-mart/picker";

.emoji-mart-bar {
  display: none;
}

.emoji-mart {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn-primary {
  background-color: #3f51b5;

  &:hover {
    background-color: #374392;
  }
}

.btn-outline-success {
  opacity: 1 !important;
  color: #2d8653;
  background-color: #2d8653;
}

.btn-outline-secondary {
  color: #000;
  &:hover {
    color: #000;
    background-color: #ddd;
  }
  &:active {
    background-color: #ccc;
  }
}

body {
  touch-action: none;
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn-outline-danger {
  opacity: 1 !important;
  color: #b50000;
  background-color: #b50000;
}

.emoji-mart-category-label {
  display: none;
}
.emoji-mart-scroll {
  margin-top: 15px;
  height: 297px;
}
