$primary-color: #3f51b5;
$success-color: #2d8653;
$danger-color: #b50000;
$border-color: #ccc;
$background-color: #fff;
$gold-color: #d4af37;
$blue-light: #2196f3;
$correct-color: green;
$dark-grey: #444;
$medium-grey: #666;
$text-color: black;
$greyish-blue: #6c757d;
$light-grey: #ddd;
$light-border-color: #aaa;
$dark-text: #333;
$light-bg: #f0f0f0;
$dark-blue-text: #344452;
