@use "variables" as *;
$grid-cell-size: 36px;

.wrapper {
  min-width: 275px;
  min-height: 100px;
  padding: 20px;
  background-color: $white;
}

.spinner {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: auto;
}

h4 {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: $black;
}
