<div class="dialog-wrapper">
  <div class="d-flex m-lr-auto">
    <h4 [ngClass]="{ 'm-lr-auto': data.showConfirm }">
      {{ data.dialogText }}
    </h4>
    @if (data.showSpinner) {
      <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
    }
  </div>
  @if (data.showConfirm || data.showCancel) {
    <div class="button-container">
      @if (data.showCancel) {
        <button class="btn btn-secondary" (click)="cancel()">
          {{ data.cancelText ?? "No" }}
        </button>
      }
      @if (data.showConfirm) {
        <button class="btn btn-primary" (click)="confirm()">
          {{ data.confirmText ?? "Ok" }}
        </button>
      }
    </div>
  }
</div>
