@use "variables" as *;
$grid-cell-size: 36px;

.wrapper {
  min-width: 275px;
  min-height: 100px;
  padding: 20px;
}

.spinner {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: auto;
}

h4 {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: $black;
}

.letter-tile {
  min-width: $grid-cell-size;
  min-height: $grid-cell-size;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 6px;
}

.tile-wrapper {
  height: 40px;
  width: 40px;
  border-right: solid 1px $light-gray;
  border-radius: 6px;
  color: $white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  box-sizing: border-box;
  background: $primary-color;
  font-weight: bold;
}
