@use "../../../styles/variables" as *;

.leaderboard {
  font-family: Arial, sans-serif;
  max-width: 300px;
  width: 300px;
  margin: 0 auto;
}

.room-code-label {
  text-align: center;
  font-weight: 500;
  color: $gray-text;
  margin-bottom: $spacing-xs;
}

.room-code-row {
  margin-bottom: $spacing-m;
  height: 48px;
}

.room-code-container {
  border: 1px solid $light-gray;
  border-radius: $border-radius-xl;
  cursor: pointer;
  padding: $spacing-xs;
  padding-left: $spacing-s;
  width: fit-content;

  &:hover {
    background: $light-gray-hover;
  }
}

.code-wrapper {
  gap: $spacing-xs;
}

.tile-wrapper {
  background-color: $success-green;
  border-radius: $border-radius-tile;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.letter {
  color: $white;
  font-weight: bold;
  font-size: $font-size-l;
}

.copy-share-icon {
  margin-left: $spacing-s;
  margin-right: $spacing-xs;
  display: flex;
  align-items: center;
  font-size: $font-size-xl;
  color: $gray-icon;
  img {
    width: 20px;
    height: 20px;
  }
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-item {
  background-color: $very-light-gray-bg;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.player-emoji {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
}

.player-name {
  flex-grow: 1;
  margin-right: 10px;
}

.wins-container {
  display: flex;
  justify-content: flex-end;
  min-width: 50px;
}

.player-wins {
  font-weight: bold;
  text-align: left;
  width: 100%;
}
