<div class="leaderboard">
  <div class="player-list">
    @for (player of sortedPlayers; track player.displayName) {
      <div class="player-item">
        <div
          class="player-avatar"
          [style.background-color]="colorService.getColorById(player.colorId)"
        >
          <img
            class="avatar"
            [src]="avatarService.getAvatarUrlById(player.avatarId)"
          />
        </div>
        <span class="player-name">{{ player.displayName }}</span>
        <div class="wins-container">
          <span class="player-wins">
            {{ player.winCount }} {{ player.winCount === 1 ? "win" : "wins" }}
          </span>
        </div>
      </div>
    }
  </div>
</div>
