.tile-wrapper {
  height: 40px;
  width: 40px;
  border-right: solid 1px #ccc;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #3f51b5;
  font-weight: bold;
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.letter-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: 287px;
  min-height: 107px;
  border: 1px solid #ccc;
  padding: 10px;
  // padding: 10px 10px 5px 10px;
  border-radius: 16px;
  margin-bottom: 35px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tile-wrapper:last-child {
  border: none;
}

.letter-bank.cdk-drop-list-dragging .tile-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.game-container {
  margin-top: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 32px;
  height: 32px;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-tile {
  min-width: 32px;
  min-height: 32px;
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: move;
  color: white;
  border-radius: 4px;
}

.grid-boundary {
  height: 1000px;
  width: 1000px;
}

.fade-out-edges {
  max-width: 400px;
  max-height: 400px;
  --mask-size: 20px;
  mask-image: linear-gradient(
      to right,
      transparent,
      black var(--mask-size),
      black calc(100% - var(--mask-size)),
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent,
      black var(--mask-size),
      black calc(100% - var(--mask-size)),
      transparent
    );
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}
