<div class="container game-container">
  <div
    cdkDropList
    id="letter-bank"
    #letterBank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    class="letter-bank m-lr-auto"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
    <div class="tile-wrapper" cdkDrag>
      <div class="m-lr-auto">
        {{ letter }}
      </div>
    </div>
    }
  </div>
  <div class="fade-out-edges m-lr-auto">
    <div
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDrag
      cdkDragBoundary=".grid-boundary"
      class="grid-container"
    >
      @for (row of grid; track row; let i = $index) {
      <div class="grid-row">
        @for (cell of row; track $index; let j = $index) {
        <div
          cdkDropList
          [id]="'cell-' + i + '-' + j"
          [cdkDropListData]="[cell]"
          [cdkDropListConnectedTo]="allDropListIds"
          [cdkDropListEnterPredicate]="canEnter"
          class="grid-cell"
          (cdkDropListDropped)="drop($event)"
        >
          @if (cell) {
          <div class="letter-tile" cdkDrag>{{ cell }}</div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
