<div class="container game-container">
  <div
    id="letter-bank"
    class="letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
    <div class="tile-wrapper" cdkDrag>
      <div class="letter m-lr-auto">
        {{ letter }}
      </div>
    </div>
    }
  </div>

  <div class="fade-out-edges m-lr-auto">
    <div
      class="grid-container"
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDrag
      cdkDragBoundary=".grid-boundary"
    >
      @for (row of grid; track row; let i = $index) {
      <div class="grid-row">
        @for (cell of row; track $index; let j = $index) {
        <div
          class="grid-cell"
          cdkDropList
          [id]="'cell-' + i + '-' + j"
          [cdkDropListData]="[cell]"
          [cdkDropListConnectedTo]="allDropListIds"
          [cdkDropListEnterPredicate]="canEnter"
          (cdkDropListDropped)="drop($event)"
        >
          @if (cell) {
          <div class="letter-tile" cdkDrag>
            {{ cell }}
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>

  <button (click)="nextPuzzle()">Next Puzzle</button>

  <div class="formed-words">
    <h3>Formed Words:</h3>
    <ul>
      @for (word of formedWords; track word) {
      <li>
        {{ word }}
      </li>
      }
    </ul>
  </div>
</div>
