<div class="container game-container">
  <div
    id="letter-bank"
    class="letter-bank m-lr-auto"
    cdkDropList
    #letterbank="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="bankLetters"
    [cdkDropListConnectedTo]="gridCellIds"
    (cdkDropListDropped)="drop($event)"
  >
    @for (letter of bankLetters; track $index) {
    <div class="tile-wrapper" cdkDrag>
      <div class="letter m-lr-auto">
        {{ letter }}
      </div>
    </div>
    }
  </div>

  <div class="fade-out-edges m-lr-auto">
    <div
      class="grid-container"
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDrag
      cdkDragBoundary=".grid-boundary"
    >
      @for (row of grid; track $index; let i = $index) {
      <div class="grid-row">
        @for (cell of row; track $index; let j = $index) {
        <div
          [ngClass]="{ 'valid-letter': validLetterIndices[i][j] }"
          class="grid-cell"
          cdkDropList
          [id]="'cell-' + i + '-' + j"
          [cdkDropListData]="[cell]"
          [cdkDropListConnectedTo]="allDropListIds"
          [cdkDropListEnterPredicate]="canEnter"
          (cdkDropListDropped)="drop($event)"
        >
          @if (cell) {
          <div
            class="letter-tile"
            cdkDrag
            (cdkDragStarted)="dragStarted($event)"
          >
            {{ cell }}
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="lower-menu m-lr-auto">
    <app-timer
      [ngClass]="{ hidden: !isGameStarted }"
      [isRunning]="timerRunning"
      (timeChanged)="onTimeChanged($event)"
    >
    </app-timer>
    <div *ngIf="!isGameStarted" class="waiting">
      Waiting for player to connect...
    </div>
    <i
      class="material-icons refresh"
      (click)="startPuzzle()"
      [ngClass]="{ disabled: !anyTilePlaced() }"
      >refresh</i
    >
  </div>

  <div *ngIf="debug" class="formed-words">
    <button (click)="nextPuzzle()">Next Puzzle</button>

    <h3>Formed Words:</h3>
    <ul>
      @for (word of formedWords; track $index) {
      <li [ngClass]="{ valid: word.isValid }">
        {{ word.word }}
      </li>
      }
    </ul>
  </div>
</div>
