<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto cursor-pointer"
    (click)="navigateHome()"
  >
    <div class="row logo-row-1">
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">O</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">S</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">S</div>
      </div>
    </div>

    <div class="row logo-row-2">
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">A</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">E</div>
      </div>
    </div>
  </div>
</div>

<!-- 
    The specific buttons from MainMenuComponent or VersusMenuComponent
    will be rendered here.
  -->
<ng-content></ng-content>

<div #gridWrapper class="grid-wrapper">
  <div class="fade-out-edges m-lr-auto">
    <div #gridContainer class="grid-container">
      @for (row of grid; track $index; let i = $index) {
        <div class="grid-row">
          @for (cell of row; track $index; let j = $index) {
            <div class="grid-cell"></div>
          }
        </div>
      }
    </div>
  </div>
</div>

<div class="version">{{ version }}</div>
