<!-- crossrace-ng/src/app/components/main-menu/main-menu.component.html -->
<div class="container game-container noselect">
  <div
    id="letter-bank"
    class="ab-center letter-bank m-lr-auto cursor-pointer"
    (click)="navigateHome()"
  >
    <div class="row logo-row-1">
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">O</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">S</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">S</div>
      </div>
    </div>

    <div class="row logo-row-2">
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">R</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">A</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">C</div>
      </div>
      <div class="tile-wrapper">
        <div class="letter m-lr-auto">E</div>
      </div>
    </div>
  </div>
</div>

<div #gridWrapper class="grid-wrapper">
  <div class="fade-out-edges m-lr-auto">
    <!-- Main Menu Content -->
    @if (menuType === "main") {
      <div class="main-menu m-lr-auto">
        <div class="main-menu-buttons">
          <!-- PLAY Button -->
          <div class="tile-button-wrapper m-auto" (click)="daily()">
            <div class="tile-button-row noselect">
              <div class="tile-letter">P</div>
              <div class="tile-letter">L</div>
              <div class="tile-letter">A</div>
              <div class="tile-letter">Y</div>
            </div>
          </div>

          <!-- VERSUS Button -->
          <div
            class="tile-button-wrapper green m-auto"
            (click)="navigateToVersusMenu()"
          >
            <div class="tile-button-row noselect">
              <div class="tile-letter">V</div>
              <div class="tile-letter">E</div>
              <div class="tile-letter">R</div>
              <div class="tile-letter">S</div>
              <div class="tile-letter">U</div>
              <div class="tile-letter">S</div>
            </div>
          </div>
        </div>
      </div>
    }

    <!-- Versus Menu Content -->
    @if (menuType === "versus") {
      <div class="main-menu m-lr-auto">
        <div class="main-menu-buttons versus-menu">
          <!-- HOST Button -->
          <div class="tile-button-wrapper m-auto" (click)="createGame()">
            <div class="tile-button-row noselect">
              <div class="tile-letter">H</div>
              <div class="tile-letter">O</div>
              <div class="tile-letter">S</div>
              <div class="tile-letter">T</div>
            </div>
          </div>

          <!-- JOIN Form -->
          <div class="join-form-container m-lr-auto">
            <form [formGroup]="joinGameForm">
              <div class="form-group">
                <input
                  class="form-control form-control-lg mx-auto mb-3 join-input"
                  formControlName="gameCode"
                  placeholder="Enter room code"
                  (input)="onInputChange($event)"
                  (keydown.enter)="joinGame()"
                  maxlength="4"
                />
                @if (
                  joinGameForm.get("gameCode")!.invalid &&
                  joinGameForm.get("gameCode")!.touched
                ) {
                  <div class="invalid-feedback">
                    Please input a valid room code
                  </div>
                }
              </div>
              <div
                class="tile-button-wrapper green m-auto"
                [class.disabled]="!joinGameForm.valid"
                (click)="joinGame()"
              >
                <div class="tile-button-row noselect">
                  <div class="tile-letter">J</div>
                  <div class="tile-letter">O</div>
                  <div class="tile-letter">I</div>
                  <div class="tile-letter">N</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    }

    <div #gridContainer class="grid-container">
      @for (row of grid; track $index; let i = $index) {
        <div class="grid-row">
          @for (cell of row; track $index; let j = $index) {
            <div class="grid-cell"></div>
          }
        </div>
      }
    </div>
  </div>
</div>

<div class="version">{{ version }}</div>
