// Contains styles specific to the main menu's buttons ("PLAY", "VERSUS").

@use "variables" as *;
@use "mixins" as *;

// General structure for the menu button area
.main-menu {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 175px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  gap: 20px;
  padding-bottom: 7px;
}

// Shared button styling (can be extracted to a shared partial later if desired)
.tile-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  width: fit-content;

  .tile-button-row {
    display: flex;
    justify-content: center;
  }

  .tile-letter {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: $white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    transition: background-color 0.2s ease-in-out;
  }

  &.green .tile-letter {
    background-color: $success-green;
  }

  &:hover .tile-letter {
    background-color: $primary-color-light;
  }

  &.green:hover .tile-letter {
    background-color: $success-green-hover;
  }
}
